@model CRUD_ASp_MVC_CORE.Models.EmployeeViewModel

@{
	ViewData["Title"] = "Create Employee";
	var ErrorMessage = TempData["Error Message"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
	<div class="alert alert-success">
		<strong>Error !</strong>@ErrorMessage
	</div>
	<button type="button" class="btn-close float-end" data-bs-dissmiss="alert" aria-label="close"></button>
}
<form action="Create" method="post">
	<div class="mb-3">
	<label class="form-label">First Name</label>
	<input type="text" class="form-control" asp-for="FirstName"/>
	<span asp-validation-for="FirstName" class="text-danger"></span>
  </div>
	<div class="mb-3">
		<label class="form-label">Last Name</label>
		<input type="text" class="form-control" asp-for="LastName" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label class="form-label">Date Of Birth</label>
		<input type="date" class="form-control" asp-for="DateOfBirth" />
		<span asp-validation-for="DateOfBirth" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label class="form-label">E-Mail</label>
		<input type="text" class="form-control" asp-for="Email" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<div class="mb-3">
	<label class="form-label">Salary</label>
	<div class="input-group">
        <span class="input-group-text">$</span>
		<input type="text" class="form-control" asp-for="Salary" />
		<span asp-validation-for="Salary" class="text-danger"></span>
		</div>
		<div class="d-grid">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>

</form>
@section scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}



script